attflow-fountain
[{"id":"3ed56022.3eef5","type":"swagger-doc","z":"bad3dd4.26f8f2","summary":"clear the OLED","description":"","tags":"","consumes":"","produces":"","parameters":[],"responses":{"":{"description":"200","schema":{"properties":{"ok":{"type":"string"}}}}},"deprecated":false},{"id":"db9457dc.f6d0e8","type":"inject","z":"bad3dd4.26f8f2","name":"OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":182.3125,"y":97.99999237060547,"wires":[["dc0edff2.e931c"]]},{"id":"dc0edff2.e931c","type":"function","z":"bad3dd4.26f8f2","name":"pass 'args' to off","func":" msg.payload = { args: \"on\"};\n msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n return msg;","outputs":1,"noerr":0,"dependencies":[],"x":605.2869567871094,"y":84.87606430053711,"wires":[["572de664.1d6548"]]},{"id":"adf989f7.186dd8","type":"inject","z":"bad3dd4.26f8f2","name":"ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":195.97918701171875,"y":188.44443893432617,"wires":[["af0f140c.268bc8"]]},{"id":"af0f140c.268bc8","type":"function","z":"bad3dd4.26f8f2","name":"pass 'args' to on","func":" msg.payload = { args: \"off\"};\n msg.headers = {'content-type':'application/x-www-form-urlencoded'};\n return msg;","outputs":1,"noerr":0,"dependencies":[],"x":601.9536437988281,"y":181.32050704956055,"wires":[["d7b790be.4c736"]]},{"id":"572de664.1d6548","type":"http request","z":"bad3dd4.26f8f2","name":"fountian off","method":"POST","ret":"obj","url":"https://us.wio.seeed.io/v1/node/GroveRelayD0/onoff/0?access_token=XYZ","configKey":"","username":"","password":"","useAuth":false,"encryption":"none","useCertificate":false,"decrypt":false,"cert":"","key":"","encryptObj":["username","password"],"x":750.3125305175781,"y":37,"wires":[["207876a0.248dda"]]},{"id":"d7b790be.4c736","type":"http request","z":"bad3dd4.26f8f2","name":"fountiain on","method":"POST","ret":"obj","url":"https://us.wio.seeed.io/v1/node/GroveRelayD0/onoff/1?access_token=XYZ","configKey":"","username":"","password":"","useAuth":false,"encryption":"none","useCertificate":false,"decrypt":false,"cert":"","key":"","encryptObj":["username","password"],"x":773.3125305175781,"y":145.99999618530273,"wires":[["9f22104f.c349d"]]},{"id":"9f22104f.c349d","type":"function","z":"bad3dd4.26f8f2","name":"AIR parse","func":"//myJSON = JSON.parse(msg.payload);\n\n//msg.payload = { args: \"get var...: Off\"};\n//var context = context();\n\n//var range = Math.round(msg.payload.range_inch, -1);\n//context.global.range = range;\n\n//if(range == \"undefined\" || range === null){\n//    range = \"OFF\";\n//}\n\n\nvar val = \"Water On    \";\n//msg.payload.feedback = val;\n\nvar vRow = 0;\nvar vCol = 0;\nvar val = vRow+\"/\"+vCol+\"/\"+val;\n\n//var val = 0+\"/\"+0+\"/Count:      \"+count;\n\n\nvar ulrStr = \"https://us.wio.seeed.io/v1/node/GroveOLED12864I2C1/string/\"+val+\"?access_token=XYZ\"\n//https://us.wio.seeed.io/v1/node/GroveOLED12864I2C1/string/[row]/[col]/[str]?access_token=XYZ\n\nmsg.url = ulrStr;\n//msg.payload = val;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n \nreturn msg;","outputs":1,"noerr":0,"dependencies":[],"x":883.3125305175781,"y":179.99999618530273,"wires":[["b01177e.938ce88","a2ff2165.b5034"]]},{"id":"b01177e.938ce88","type":"http request","z":"bad3dd4.26f8f2","name":"w4 - set screen","method":"POST","ret":"txt","url":"","configKey":"","username":"","password":"","useAuth":false,"encryption":"none","useCertificate":false,"decrypt":false,"cert":"","key":"","encryptObj":["username","password"],"x":1198.324851989746,"y":116.45556259155273,"wires":[["3171c549.addcaa"]]},{"id":"7de1e39f.59443c","type":"debug","z":"bad3dd4.26f8f2","name":"","active":true,"console":"true","complete":"payload","x":1017.5832824707031,"y":395.4555778503418,"wires":[]},{"id":"207876a0.248dda","type":"function","z":"bad3dd4.26f8f2","name":"AIR parse","func":"//myJSON = JSON.parse(msg.payload);\n\n//msg.payload = { args: \"get var...: Off\"};\n//var context = context();\n\n//var range = Math.round(msg.payload.range_inch, -1);\n//context.global.range = range;\n\n//if(range == \"undefined\" || range === null){\n//    range = \"OFF\";\n//}\n\n\nvar val = \"Water Off    \";\n//msg.payload.feedback = val;\n\nvar vRow = 0;\nvar vCol = 0;\nvar val = vRow+\"/\"+vCol+\"/\"+val;\n\n//var val = 0+\"/\"+0+\"/Count:      \"+count;\n\n\nvar ulrStr = \"https://us.wio.seeed.io/v1/node/GroveOLED12864I2C1/string/\"+val+\"?access_token=XYZ\"\n//https://us.wio.seeed.io/v1/node/GroveOLED12864I2C1/string/[row]/[col]/[str]?access_token=XYZ\n\nmsg.url = ulrStr;\n//msg.payload = val;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n \nreturn msg;","outputs":1,"noerr":0,"dependencies":[],"x":875.2345275878906,"y":68.99999618530273,"wires":[["b01177e.938ce88","a2ff2165.b5034"]]},{"id":"30eaa579.85d97a","type":"http request","z":"bad3dd4.26f8f2","name":"w4 - set screen","method":"POST","ret":"txt","url":"","configKey":"","username":"","password":"","useAuth":false,"encryption":"none","useCertificate":false,"decrypt":false,"cert":"","key":"","encryptObj":["username","password"],"x":761.9062805175781,"y":314.0000114440918,"wires":[["7de1e39f.59443c","550c7307.01c13c"]]},{"id":"be563858.c8ae98","type":"inject","z":"bad3dd4.26f8f2","name":"ABOUT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":175.90625,"y":299.0000114440918,"wires":[["164c0b92.072ed4"]]},{"id":"164c0b92.072ed4","type":"delay","z":"bad3dd4.26f8f2","name":"1","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":451.88067626953125,"y":287.8760795593262,"wires":[["83026333.6b92c"]]},{"id":"83026333.6b92c","type":"function","z":"bad3dd4.26f8f2","name":"AIR parse","func":"\nvar val = \"SnVsaW8gUm9kcmlndWV6DQpqdWxpb3JAZ21haWwuY29tDQo4MzItNjk2LTI0NzYNCkBqaGV5DQpqaGV5LmNvbQ0KamhleWdyYW0NCkhhY2tzdGVyLmlvDQpBbWJhc3NhZG9y\";\n\n//msg.payload.feedback = val;\n\nvar vRow = 0;\nvar vCol = 0;\nvar val = vRow+\"/\"+vCol+\"/\"+val;\n\n//var val = 0+\"/\"+0+\"/Count:      \"+count;\n\n\nvar ulrStr = \"https://us.wio.seeed.io/v1/node/GroveOLED12864I2C1/base64_string/\"+val+\"?access_token=XYZ\"\n//https://us.wio.seeed.io/v1/node/GroveOLED12864I2C1/string/[row]/[col]/[str]?access_token=XYZ\n\nmsg.url = ulrStr;\n//msg.payload = val;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n \nreturn msg;","outputs":1,"noerr":0,"dependencies":[],"x":600.2396545410156,"y":327.5555725097656,"wires":[["30eaa579.85d97a"]]},{"id":"b031b756.7916b8","type":"http in","z":"bad3dd4.26f8f2","name":"","url":"/contact","method":"get","configKey":"","username":"","password":"","authType":"noAuth","useAuth":false,"useOauth":false,"encryption":"none","realm":"","clientId":"","clientSecret":"","site":"","authorizationPath":"/oauth/authorize","tokenPath":"/oauth/access_token","scope":"","encryptObj":["username","password","clientId","clientSecret"],"swaggerDoc":"3ed56022.3eef5","x":289.75,"y":351.4000358581543,"wires":[["164c0b92.072ed4","69faec2a.6e2c44"]]},{"id":"550c7307.01c13c","type":"http response","z":"bad3dd4.26f8f2","name":"","x":991.7500305175781,"y":318.4000358581543,"wires":[]},{"id":"4a64e375.1d875c","type":"http in","z":"bad3dd4.26f8f2","name":"","url":"/wateroff","method":"get","configKey":"","username":"","password":"","authType":"noAuth","useAuth":false,"useOauth":false,"encryption":"none","realm":"","clientId":"","clientSecret":"","site":"","authorizationPath":"/oauth/authorize","tokenPath":"/oauth/access_token","scope":"","encryptObj":["username","password","clientId","clientSecret"],"swaggerDoc":"3ed56022.3eef5","x":344.9624938964844,"y":62.20001220703125,"wires":[["dc0edff2.e931c","69faec2a.6e2c44"]]},{"id":"a2ff2165.b5034","type":"http response","z":"bad3dd4.26f8f2","name":"","x":1023.7622909545898,"y":120.19999313354492,"wires":[]},{"id":"3171c549.addcaa","type":"debug","z":"bad3dd4.26f8f2","name":"","active":true,"console":"true","complete":"payload","x":1181.762451171875,"y":198.1999969482422,"wires":[]},{"id":"2714a0ca.36254","type":"http in","z":"bad3dd4.26f8f2","name":"","url":"/wateron","method":"get","configKey":"","username":"","password":"","authType":"noAuth","useAuth":false,"useOauth":false,"encryption":"none","realm":"","clientId":"","clientSecret":"","site":"","authorizationPath":"/oauth/authorize","tokenPath":"/oauth/access_token","scope":"","encryptObj":["username","password","clientId","clientSecret"],"swaggerDoc":"3ed56022.3eef5","x":346.9624938964844,"y":162.19999313354492,"wires":[["af0f140c.268bc8","69faec2a.6e2c44"]]},{"id":"f5354064.4bbf2","type":"http request","z":"bad3dd4.26f8f2","name":"w4 - set screen","method":"POST","ret":"txt","url":"","configKey":"","username":"","password":"","useAuth":false,"encryption":"none","useCertificate":false,"decrypt":false,"cert":"","key":"","encryptObj":["username","password"],"x":759.0000915527344,"y":481.5444450378418,"wires":[["7de1e39f.59443c","da434a42.a32d48"]]},{"id":"d5f5a34d.df75c","type":"inject","z":"bad3dd4.26f8f2","name":"CLEAR","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":538.54443359375,"wires":[["15e8787b.dd0e28"]]},{"id":"15e8787b.dd0e28","type":"delay","z":"bad3dd4.26f8f2","name":"1","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":394.97442626953125,"y":518.4205131530762,"wires":[["69faec2a.6e2c44"]]},{"id":"69faec2a.6e2c44","type":"function","z":"bad3dd4.26f8f2","name":"AIR parse","func":"\n\nvar ulrStr = \"https://us.wio.seeed.io/v1/node/GroveOLED12864I2C1/clear?access_token=XYZ\"\n\nmsg.url = ulrStr;\n\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n \nreturn msg;","outputs":1,"noerr":0,"dependencies":[],"x":584.3334045410156,"y":485.1000175476074,"wires":[["f5354064.4bbf2"]]},{"id":"a63d88ab.8dd5b8","type":"http in","z":"bad3dd4.26f8f2","name":"","url":"/clear","method":"get","configKey":"","username":"","password":"","authType":"noAuth","useAuth":false,"useOauth":false,"encryption":"none","realm":"","clientId":"","clientSecret":"","site":"","authorizationPath":"/oauth/authorize","tokenPath":"/oauth/access_token","scope":"","encryptObj":["username","password","clientId","clientSecret"],"swaggerDoc":"3ed56022.3eef5","x":188.84375,"y":459.9444694519043,"wires":[["15e8787b.dd0e28"]]},{"id":"da434a42.a32d48","type":"http response","z":"bad3dd4.26f8f2","name":"","x":1010.9625549316406,"y":496.20002365112305,"wires":[]}]
